@import "mixins";

.container {
    position: relative;
    padding-bottom: 50px;
    padding-left: 32px;
    padding-right: 32px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: black;
    transform: scale(50vw);
    @include breakpoint(sm) {
        // transform: scale(0.8);
        scale: 0.9;
        margin-top: -100px;
    }
    hr {
        margin: 0;
        border: 0;
        height: 500px;
    }

    .cardWrapper:hover {
        background-color: rgba(0, 0, 0, 0.6);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        scale: 1.05;
        cursor: pointer;
        //animate it in 1s
        transition: all 0.5s;
    }

    .cardWrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        background-color: rgba(0, 0, 0, 0.4);
        border-radius: 18px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        margin: 10px;
        padding: 15px;
        height: 250px;
        color: rgb(255, 255, 255);
        & > :nth-child(2) {
            margin-top: 15px;
        }
        transition: all 1s;
        .personCard {
            position: relative;
            height: 125px;
            width: 125px;
            background-color: white;
            border-radius: 50%;
            overflow: hidden;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
        .votes {
            display: flex;
            justify-content: center;
            align-items: center;
            * {
                display: flex;
                align-items: center;
                justify-content: inherit;
                width: 80px;
            }
            .upVote {
                color: rgba(0, 255, 55, 0.8);
                width: 18px;
            }
            .downVote {
                color: rgba(255, 0, 0, 0.8);
                width: 18px;
                justify-content: start;
            }
        }
    }

    .male {
        border: 5px solid #9bc9ff;
    }
    .female {
        border: 5px solid #fdaeff;
    }
    .top {
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        .cardWrapper {
            height: 350px;
            .personCard {
                height: 225px;
                width: 225px;
            }
        }
    }
    .bottom {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        .left {
            display: flex;
            flex-wrap: wrap;
            flex-grow: 1;
            flex-direction: row-reverse;
            width: 50vw;
            align-content: flex-start;
        }
        .right {
            display: flex;
            flex-wrap: wrap;
            flex-grow: 1;
            width: 50vw;
            align-content: flex-start;
        }
    }
    .footer {
        position: absolute;
        margin-top: 20px;
        font-size: 16px;
        bottom: 10px;
        right: 10px;

        a {
            color: rgb(174, 0, 255);
        }
    }
}
